###############################################################################
#                             SYSTEM NOTICE                                  #
#                                                                             #
# This system is managed by Ansible.                                          #
# Any changes made manually may be overwritten by the next Ansible run.       #
#                                                                             #
# Environment: {{ environment | default('unknown') }}                         #
# Hostname: {{ ansible_hostname }}                                            #
#                                                                             #
###############################################################################